@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.genlayout{
    max-width: 1000px;
    margin: auto;
}

.logoBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
}

.logoContent > h1{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #1f2937;
}

.logoContent > h1 > span{
    color: #d4a017;
}

.logoContent > p{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.logoContent > p > strong{
        color: #d4a017;
}

.navWrapper{
     display: flex;
    align-items: center;
    gap: 2rem;

}

.navCenter{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navCenter > a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #1f2937;
    font-weight: 500;
}

.navCenter > a:nth-child(1){
     color: #d4a017;

}

.navCenter > a:hover{
    border-bottom: 1px solid #0a2342;
}

.hamburger, #toggle{
    display: none;
}

.navEnd{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.navEnd > a{
    border: 1px solid;
    border-radius: 7px;
    padding: 0.7rem;
    background-color: #0a2342;
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.navEnd > a:hover{
    background-color: #d4a017;
}

/* Responsive styling for nav */
@media(min-width:320px) and (max-width:500px){
    .logoBody{
        width: calc(100% - 40px);

    }
    nav{
        position: absolute;
        width: 50%;
        padding: 1rem 0;
        top: 5rem;
        right: 0;
        z-index: 1;
        background-color: #0a0701;
        opacity: 0.8;border-bottom: 4px solid #fff;
         transform: translatex(100%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); 
    }

.navWrapper{
    flex-direction: column;
    gap: .8rem;
}

    .navCenter{
        flex-direction: column;
        gap: 0;
    }

    .navCenter > a{
        font-size: 15px;
        color: #fff;
         border-bottom: 1.5px solid ;
        padding-block: 1rem;
    }

    .navEnd {
        flex-direction: column;
    }

    .hamburger{
        display: block;
        font-size: 2.5rem;
        opacity: 0.5;
    }

      #toggle:checked + nav{
        display: block;
        transform: none;
    }

}
@media(min-width:500px) and (max-width:800px){
    .logoBody{
        width: calc(100% - 40px);

    }
    nav{
        position: absolute;
        width: 60%;
        padding: 1rem 0;
        top: 5rem;
        right: 0;
        z-index: 1;
        background-color: #0a0701;
        opacity: 0.8;border-bottom: 4px solid #fff;
         transform: translatex(100%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); 
    }

.navWrapper{
    flex-direction: column;
    gap: .8rem;
}

    .navCenter{
        flex-direction: column;
        gap: 0;
    }

    .navCenter > a{
        font-size: 15px;
        color: #fff;
         border-bottom: 1.5px solid ;
        padding-block: 1rem;
    }

    .navEnd {
        flex-direction: column;
    }

    .hamburger{
        display: block;
        font-size: 2.5rem;
        opacity: 0.5;
    }

      #toggle:checked + nav{
        display: block;
        transform: none;
    }

}






.heroImage{
    background-image: url(image/home.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh; 
}

.heroCont{
    height: 100%;
    padding-top: 13rem ;
}

.heroItems{
    width: 400px;
    margin-bottom: 1.5rem;
}
.heroItems > h4{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #0a2342;
    font-weight: 700;
    font-size: 20px;
}

.heroItems > h2{
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    padding :0.5rem 0;
}

.heroItems > h2 > span{ 
    color: #d4a017;
}

.heroItems > p{
    line-height: 1.5rem;
    width: 270px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.heroBooking{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.heroBooking > button{
    border: none;
    padding:0.5rem 1.5rem;
    background-color: #d4a017;
    color: #0a2342;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

.heroBooking > a{
    border: 1px solid #d4a017;
    border-radius: 5px;
    padding:0.5rem 1.5rem;
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-align: center;
}

.heroBooking > a:hover{
    background-color: #d4a017;
}
@media(min-width:320px) and (max-width:500px){
    .heroCont{
        width: calc(100% - 40px);
        padding-top: 8rem;

    }
    .heroItems{
        width: 100%;
    }

    .heroItems > h4{
    font-size: 15px;
}

.heroItems > h2{
    font-size: 30px;
}
.heroItems > p{
    font-size: 13px;
}

.heroBooking{
    gap: 1rem;
}

.heroBooking > button{
    padding:0.5rem 0.7rem;
    font-size: 13px;
    text-align: center;
}
.heroBooking > a{
    padding:0.5rem 0.7rem;
    border-radius: 5px;
    font-size: 13px;
}


}
@media(min-width:500px) and (max-width:800px){
     .heroCont{
        width: calc(100% - 40px);
        padding-top: 3rem;

    }
    .heroItems{
        width: 100%;
    }

    .heroItems > h4{
    font-size: 15px;
}

.heroItems > h2{
    font-size: 30px;
}
.heroItems > p{
    font-size: 13px;
}

.heroBooking{
    gap: 1rem;
}

.heroBooking > button{
    padding:0.5rem 0.7rem;
    font-size: 13px;
    text-align: center;
}
.heroBooking > a{
    padding:0.5rem 0.7rem;
    border-radius: 5px;
    font-size: 13px;
}

}

/* ABOUT SECTION */
.about_Wrapper{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 5rem;
}

.aboutImg{
    width: 1000px;
    height: 300px;
    border-radius: 5px;
}
.aboutImg > img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.aboutContent > h4{
    text-transform: uppercase;
    color: #d4a017;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.aboutContent > h2{
    text-transform: capitalize;
    color:#0a2342;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.aboutContent > .line{
    border-bottom: 1.5px solid #d4a017;
    width: 7%;
    margin-bottom: 0.8rem;
}

.aboutContent > .firstP{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #0a2342;
    font-weight: 500;
    margin-bottom: 1rem;
    opacity: .7;
}
.aboutContent > p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #0a2342;
    font-weight: 500;
    opacity: .7;
    line-height: 1.5rem;
}

.aboutContent > button{
    font-family: "Roboto", sans-serif;
    margin-top: 1.5rem;
    border: none;
    background-color: #0a2342;
    color: #ffffff;
    padding: 0.7rem 1.3rem;
    border-radius: 5px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;

}

.aboutContent > button > span{
    font-size: 10px;

}
/* About Responsiveness */
@media(min-width:320px) and (max-width:500px){
    .about_Wrapper{
        width: calc(100% - 40px);
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .aboutImg{
        width: 100%;
    }

}

@media(min-width:500px) and (max-width:800px){
     .about_Wrapper{
        width: calc(100% - 40px);
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .aboutImg{
        width: 100%;
    }
}


/* Specialize styling */
.special_Wrapper{
    margin-block: 2rem;
}

.special_Wrapper > h2{
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #0a2342;
    font-size: 20px;
}

.line1{
    border-bottom: 3px solid #d4a017;
    width: 50px;
    margin: .3rem auto;
}

.special_Cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.special_Box{
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    background-color: #f8f9fb;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.special_Box > i{
    color: #d4a017;
    font-size: 40px;
    display: flex;
    justify-content: center;
    
}

.special_Box > h4{
    text-transform: capitalize;
     font-family: "Roboto", sans-serif;
     padding-block: .7rem;
     font-size: 15px;
     text-align: center;
     color: #0a2342;
}
.special_Box > p{
    text-align: center;
}
/* Specialize Responsiveness */
@media(min-width:320px) and (max-width:500px){
    .special_Wrapper{
        width: calc(100% - 40px);
    }

    .special_Cont{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

}
@media(min-width:500px) and (max-width:800px){
     .special_Wrapper{
        width: calc(100% - 40px);
    }

    .special_Cont{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}


/* MISSON & VISION SECT STYLING */
.Container_Mv{
    background-color: #0a2342;
}
.wrapper_Mv{
    padding-block: 2rem;
}

.wrapper_Mv > h2{
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
}

.mv_Wrappper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.mv_Content{
  display: flex;
    align-items: center;
    gap: 1rem;
    width: 400px;
}

.mv_Content > i{
    font-size: 70px;
    color: #d4a017;
}

.mv_Items > h3{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: .8rem;
}
.mv_Items > p{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    opacity: .8;
    font-size: 13px;
    line-height: 1.2rem;
}

 .mv_line{
    border-left: 1px solid #0f3462;
    padding-top: 7rem;
} 

/* MISSON & VISION RESPONSIVENESS */
@media(min-width:320px) and (max-width:500px){
    .wrapper_Mv{
        width: calc(100% - 40px);
    }
    .mv_Wrappper{
        flex-direction: column;
        gap: 2rem;
    }

    .mv_Content{
        width: 100%;
    }
    .mv_line{
        display: none;
    }

}
@media(min-width:500px) and (max-width:800px){
    .wrapper_Mv{
        width: calc(100% - 40px);
    }
    .mv_Wrappper{
        flex-direction: column;
        gap: 2rem;
    }

    .mv_Content{
        width: 100%;
    }
    .mv_line{
        display: none;
    }

}


/* FEATURED PROPERTIES */
.featured_Wrapper {
    margin-block: 2rem;
}
.featured_Wrapper > h2{
     text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #0a2342;
    font-size: 20px;
}

.featured_Cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-block: 1rem;
}

.featured_Box{
    width: 235px;
}

.featured_Box > img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.featured_Words{
    padding:0.5rem;
    background-color: #f8f9fb;
    border: 1px solid #e5e7eb; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.featured_Words > h3{
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    color: #0a2342;
    font-size: 15px;
    font-family: 500;
    padding-bottom: .2rem;
}
.featured_Words > p{
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    color: #0a2342;
    font-size: 12px;
    display: flex;
    gap: 5px;
    font-weight: 500;
    opacity: .7;
}

.featured_Words > p > span{
    color: #d4a017;
    font-size: 12px;
}

.featured_Words > h2{
    color: #d4a017;
    font-size: 17px;
    padding-top: .5rem;
}

.featured_Items{
    display: flex;
    gap: .5rem;
    border-radius: 5px;
    padding-block: .5rem;
}

.featured_Items > p{
    font-family: "Roboto", sans-serif;
    color: #0a2342;
    font-size: 10px;
    font-weight: 600;
    opacity: .5;
}

.featured_Btn{
    display: flex;
    justify-content: center;
}

.featured_Btn > button{
    border: none;
     font-family: "Roboto", sans-serif;
     color: #ffffff;
     text-transform: capitalize;
     font-size: 13px;
     font-weight: 500;
     background-color: #0a2342;
     padding: .7rem 1.3rem;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: .7rem;
     border-radius: 5px;
}

.featured_Btn > button > span{
    font-size: 10px;
}
/* FEATURED PROPERTIES RESPONSIVENESS */
@media(min-width:320px) and (max-width:500px){
    .featured_Wrapper{
        width: calc(100% - 60px);
    }

    .featured_Cont{
    grid-template-columns: 1fr;
}
.featured_Box{
    width: 100%;
}


}
@media(min-width:500px) and (max-width:800px){
    .featured_Wrapper{
        width: calc(100% - 60px);
    }

    .featured_Cont{
    grid-template-columns: 1fr;
}
.featured_Box{
    width: 100%;
}
}

/* SERVICE STYLING */
.service_Bg{
    background-color: #f8f9fb;

}

.service_Wrapper{
    padding-block: 2rem;
 
}

.service_Wrapper > h2{
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #0a2342;
    font-size: 20px;
}

.service_Content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    overflow-x: scroll;
    margin-top: 1.5rem;

}
.service_Box{
    width: 300px;
    height: 130px;
}
.service_Box > i{
    color: #d4a017;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.service_Box > h4{
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    color: #0a2342;
    font-size: 17px;
    padding-bottom: .3rem;
}
.service_Box > p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #0a2342;
    font-size: 14px;
}
/* SERVICE RESPONSIVENESS */

@media(min-width:320px) and (max-width:500px){
    .service_Wrapper{
        width: calc(100% - 40px);
    }
}
@media(min-width:500px) and (max-width:800px){
     .service_Wrapper{
        width: calc(100% - 40px);
    }
}
/* TESTIMONY STYLING */
.testimony_Wrapper{
   background-color: #e5e7eb;
}
.testimony_Container{
  display: flex;
}


.tesimony_Box1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #0a2342;
    padding: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px;
}

.tesimony_Box1_Content > h3{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    /* padding-bottom: .5rem; */
}

.line2{
    border-bottom: 2px solid #d4a017;
    width: 30px;
    margin-block: 0.5rem;
}

.tesimony_Box1_Content > p{
    line-height: 1.8rem;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-size: 12px;
    display: flex;
    gap: .3rem;
}

.tesimony_Box1_Content > p > span{
    color: #d4a017;
}

.tesimony_Box1_Img{
    width: 150px;
    height: 200px;
}
.tesimony_Box1_Img > img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.testimony_Box2 {
    width: 600px;
    padding-block: 2rem;
} 
.testimony_Box2_Content > h2{
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color:#0a2342 ;
    font-size: 20px;
}

.testimony_Box2_Slide{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.testimont_Box2_Cont{
    display: flex;
    gap: 1rem;
}

.testimony_Box2_Slide_Box{
    background-color: #ffffff;
    padding: 0.5rem;
    width: 165px;
    position: relative;
}

.testimony_Box2_Slide_Box > img{
    width: 70px;
    padding-bottom: .5rem;
}
.testimony_Box2_Slide_Box > p{
    font-family: "Roboto", sans-serif;
    color: #0a2342;
    font-size: 13px;
    line-height:1.2rem ;
    font-weight: 600;
    opacity: .7;
    padding-bottom: 3rem;
}

.imgText{ 
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 0.5rem;
}
 .imgText >i{
    color: #d4a017;
    width: 30px;
    height: 30px;
     border-radius: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #e5e7eb;
     font-size: 20px;
 }

  .imgText  > p{
     font-family: "Roboto", sans-serif;
    color: #0a2342;
      font-weight: 600;
      font-size: 12px;

  }

  .testimony_Box2_Slide > i{
    color: #0a2342;
    width: 30px;
    height: 30px;
    border-radius: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #ffffff;
     font-size: 10px;

  }
  /* TESTIMONY RESPONSIVENESS */

@media(min-width:320px) and (max-width:500px){
    .testimony_Container{
        width: calc(100% - 40px);
        flex-direction: column;
    }
    .tesimony_Box1{
    width: 100%;
    gap: .5rem;
    padding: 1rem;
    flex-direction: column;
    }
    .tesimony_Box1_Img{
    width: 100%;
}
    .testimony_Box2{
        width: 100%;
    }


.testimont_Box2_Cont{
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.testimony_Box2_Slide_Box{
    width: 100%;
}

  .testimony_Box2_Slide > i{
     display: none;

  }
}
@media(min-width:500px) and (max-width:800px){
    .testimony_Container{
        width: calc(100% - 40px);
        flex-direction: column;
    }
    .tesimony_Box1{
    width: 100%;
    gap: .5rem;
    padding: 1rem;
    flex-direction: column;
    }
    .tesimony_Box1_Img{
    width: 100%;
}
    .testimony_Box2{
        width: 100%;
    }


.testimont_Box2_Cont{
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.testimony_Box2_Slide_Box{
    width: 100%;
}

  .testimony_Box2_Slide > i{
     display: none;

  }
}

/* ENDSECT STYLING */
.endSect_Cont{
    background-color:#1f2937;
}

.endSect_Wrap{
    display: flex;
     align-items: center;
    justify-content: center; 
    gap: 5rem;
    padding-block: 1.5rem;
}
.endSect{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.endSect > i{
    color: #ffcd4f;
    font-size: 50px;
}

.endText{
    width: 370px;
}

.endText > h3{
    color: #ffffff;
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     margin-bottom: .7rem;

}
.endText > p{
    color: #ffffff;
     font-family: "Roboto", sans-serif;
     opacity: 0.7;
     font-size: 14px;
}

.endSect_Sub > a{
    display: flex;
     align-items: center;
    justify-content: center;
    gap: .7rem;
    background-color: #d4a017;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    color: #0a2342;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
         font-family: "Roboto", sans-serif;
    

}

.endSect_Sub > a > span{
    font-size: 10px;
}
/* ENDSECT RESPONSIVENESS */
@media(min-width:320px) and (max-width:500px){
    .endSect_Wrap{
        width: calc(100% - 40px);
    }
    .endSect_Wrap{
        flex-direction: column;
        gap: 1rem;
    }
    .endSect{
      width: 100%;
    gap: 0.4rem;
}
.endSect > i{
    color: #ffcd4f;
    font-size: 50px;
}
    .endTex{
        width: 100%;
    }
    .endText > h3{
     font-size: 15px;
     margin-bottom: .4rem;

}
.endText > p{
     font-size: 13px;
}

}
@media(min-width:500px) and (max-width:800px){
    .endSect_Wrap{
        width: calc(100% - 40px);
    }
    .endSect_Wrap{
        flex-direction: column;
        gap: 1rem;
    }
    .endSect{
      width: 100%;
    gap: 0.4rem;
}
.endSect > i{
    color: #ffcd4f;
    font-size: 50px;
}
    .endTex{
        width: 100%;
    }
    .endText > h3{
     font-size: 15px;
     margin-bottom: .4rem;

}
.endText > p{
     font-size: 13px;
}
}

/* Footer styling */
footer{
    background-color: #0a2342;
}
.foot_Wrap{
    display: flex;
    padding-block: 1rem;
    gap: 2rem;
}

.foot_Content_1{
    width: 250px;

}
.foot_Content_1 > h1{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}
.foot_Content_1 > h1 > span{
    color: #d4a017;
}

.foot_Content_1 > p{
    color: #ffffff;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.foot_Content_1 > p > strong{
    color: #d4a017;
}

.foot_Content_1 > .footWord{
    line-height: 1.2rem;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    opacity: .7;
    font-weight: 500;
}

.foot_Content_Logo{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.foot_Content_Logo > i{
    color: #ffffff;
    width:30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
   background-color: #1f2937;
}
.foot_Wrapper{
    display: flex;
    gap: 3rem;
}

.foot_Links > h3{
      color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1.2rem;
}

.foot_LinksItems{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.foot_LinksItems > a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    opacity: .8;
}

.foot_Contact > h3{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1.2rem;

}

.foot_Contact_Items{
    display: flex;
    gap: .5rem;
    margin-bottom: .6rem;
}

.foot_Contact_Items > span{
    color: #d4a017;
}

.foot_Contact_Items > p{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
     font-weight: 500;
    opacity: .8;
    font-size: 13px;
} 

.foot_Hours > h3{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1.2rem;
}

.foot_HoursItems{
    margin-bottom: .6rem;
    line-height: 1.2rem;
}

.foot_HoursItems > p:nth-child(1){
    text-transform: capitalize;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
     font-size: 13px;

}
.foot_HoursItems > p{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
     font-size: 13px;

}

.footLine{
    border-left: 1px solid #0f3462; 
    display: flex;
    justify-content: center;
    align-items: center;

}
footer > p{
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    padding-bottom: 1rem;
    font-weight: 500;
}
/* FOOTER RESPONSIVENESS */
@media(min-width:320px) and (max-width:500px){
    .foot_Wrap{
        width: calc(100% - 40px);
        flex-direction: column;
    }
    .foot_Wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .footLine{
        display: none;
    }
    .foot_Links > h3{
      color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: .7rem;
}

.foot_LinksItems{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.foot_Contact > h3{
    font-size: 13px;
    margin-bottom: .7rem;

}

.foot_Hours > h3{
    font-size: 13px;
    margin-bottom: .7rem;
}

}
@media(min-width:500px) and (max-width:800px){
     .foot_Wrap{
        width: calc(100% - 40px);
        flex-direction: column;
    }
    .foot_Wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .footLine{
        display: none;
    }
    .foot_Links > h3{
      color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: .7rem;
}

.foot_LinksItems{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.foot_Contact > h3{
    font-size: 13px;
    margin-bottom: .7rem;

}

.foot_Hours > h3{
    font-size: 13px;
    margin-bottom: .7rem;
}
}
